.container {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.italic {
    font-style: italic;
}

p {
    line-height: 30px;
    word-spacing: 4px;
    font-size: large;
}

.tech-img {
    max-width: 800px;
    margin: 0 auto;
}

.body {
    background-color: aquamarine
}

.nice {
    background-color: #e7d9b9;;
}

.patch{
    max-width: 300px;
}

