body {
    /* background-image: url("../photo/IMG_2919.jpeg"); */
    /* background-color: #e7d9b9; */
    text-align: right;
    font-family: 'Andada Pro', serif;
    color: black;
}

.header {
    /* position: fixed;
    top: 0px;
    left: 0px; */
    color: rebeccapurple;
    /* background-color: aliceblue; */
    padding: 50px;
    /* background: image("photo/IMG_2919.jpeg"); */
    text-decoration: underline;
    
}

h1 {
    font-weight: 900;
}

img {
    max-width: 50%;
    display: block;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
    padding: 10px;
    /* opacity: ; */
    position: relative;
}
footer {
    background-color: antiquewhite;
}

p {
    font-size: 30px;
    position: relative;
}

#link-list {
    margin: 30px auto;
    font-size: 30px;
}

.border {
    border-color: rgb(14, 12, 12);
    border-width: 10px;
    border-style: double;
  }

.pad {
    padding: 20px;
}

ul {
    list-style: none;
}

a:hover {
    color: #000;
}

#photo-div {
    /* position: absolute; */
    background-image: linear-gradient( 
            115deg, 
            rgba(58, 58, 158, 0.8), 
            rgba(136, 136, 206, 0.7) 
        ), 
        url(../photo/IMG_2919.jpeg);
        background-size: cover;
        background-position: center;
}